@import url(https://fonts.googleapis.com/css?family=Noto+Sans);



.contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.contacto_mensaje{
    color: #3a393a;
    margin:2rem;
    width: 460px;
    padding-left: 30px;
}

form{
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.contact_form{	
	width: 460px; 
    height: auto;
    margin: 80px auto;
	border-radius: 10px;  
	padding-top: 1rem;
	padding-bottom: .8rem;  
    padding-left: 1rem; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 3rem; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #11101175; 
	margin-top: .5rem;  
	padding-left: 1rem;
    margin-bottom: .5rem; 
	outline: none;
}


textarea{
    background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #555455; 
	margin-top: 10px;  
	padding-left: 10px;
    margin-bottom: 20px; 
    padding-top: 15px; 
	outline: none;
}


label{
    display: block; 
	float: center; 	
}


button{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #19317d; 
	border-color: #444243; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
    cursor: pointer;
}


button p{
	color: #fff; 
}


span{
	color: #0d0d0d; 
}


.aviso{
	font-size: 13px;  
	color: #3a393a; 
}


h1{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #323132;
}


h3{
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
    color: #a8a8a8;
}


::-webkit-textarea-placeholder {
    color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}