.proyectos{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.proyectos_items{
    width: 30vw;
    height: 50vh;
    background: red;
}

.proyectos_items_img{
    height: 50vh;
    width: 50vw;
}